.main-ai-agent{
    h1{
        font-size: 72px;
        font-weight: 600;
        /* background-clip: ; */
        /* background: linear-gradient(90deg, #ff5e62, #f6d365, #12fff7, #b3ffab); */
        color: white;
        
    }
    h2{
        font-size: 45px;
        font-weight: 600;
        color: rgb(230, 230, 230);
    }
    
    p{
        color: gray;
    }

    .img-with-text{
        /* background: radial-gradient(circle, rgba(255, 77, 3, 0.8241421568627451) 0%, rgba(255, 207, 20, 0.7261029411764706) 50%, rgba(252, 176, 69, 0.2) 100%); */
    }
    .email-input {
        max-width: 450px;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #181818;
        border: 1px solid #2c2c2c;
      }
      
      .email-icon {
        background-color: transparent;
        border: none;
        color: #b3ffab; /* Gradient color start */
      }
      
      .email-field {
        background-color: transparent;
        color: #b3ffab;
        border: none;
        box-shadow: none;
      }
      
      .email-field::placeholder {
        color: #b3ffab;
      }
      
      .btn-ai-start {
        background: linear-gradient(90deg, #b3ffab, #12fff7, #f6d365, #ff5e62);
        color: white;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
      }
      
      .btn-ai-start:hover {
        background: linear-gradient(90deg, #ff5e62, #f6d365, #12fff7, #b3ffab);
        color: white;
        box-shadow: 0 4px 12px rgba(255, 94, 98, 0.3);
      }
      
      @media (max-width: 576px) {
        .email-input {
          flex-direction: column;
          text-align: center;
        }
        .btn-ai-start {
          margin-top: 10px;
          width: 100%;
        }
      }
      
}