.faqOne{
    
    .big-text {
        font-size: 4rem;
        color: white;
        font-weight: bold;
    }
    .text-faqs{
        color: white;
    }



    .waves-section{
        position: relative;
        bottom: 500px;
        /* z-index:; */
    }
}

.faqTwo{
    .waves-section{
        position: relative;
        bottom: 250px;
        /* z-index:; */
    }

}

@media (min-width:320px) and (max-width:720px){
    .faqOne{
    
        .big-text {
            font-size: 2rem;
            color: black;
            font-weight: bold;
        }
        .text-faqs{
            color: black;
        }
    
    
        .waves-section{
            position: relative;
            bottom: 50px;
            /* z-index:; */
        }
    }
    
    .faqTwo{
        .waves-section{
            position: relative;
            bottom: 50px;
            /* z-index:; */
        }
    
    }
    

}