.faqOne{
    
    .big-text {
        font-size: 4rem;
        color: white;
        font-weight: bold;
    }
    .text-faqs{
        color: white;
    }

    .svg-section{
        position: relative;
    }
    .waves-section{
        position: absolute;
        bottom: 100px;
        left: 40px;

        /* z-index:; */
    }
    .accordion-header button{
        color: white;
        font-weight: 600;
    }
    .accordion-header button:hover{
        color: black;
        font-weight: 600;
    }
}

.faqTwo{
    .svg-section{
        position: relative;
    }
    .waves-section{
        position: absolute;
        top: 12px;
        left: 65px;
    }

    .accordion-header button{
        color: white;
        font-weight: 600;
    }
    .accordion-header button:hover{
        color: black;
        font-weight: 600;
    }

}

@media (min-width:320px) and (max-width:720px){
    .faqOne{
    
        .big-text {
            font-size: 2rem;
            color: black;
            font-weight: bold;
        }
        .text-faqs{
            color: black;
        }
    
    
        .svg-section{
            position: relative;
        }
        .waves-section{
            position: relative;
            left: 0px;
        }
        
    }
    
    .faqTwo{
        .svg-section{
            position: relative;
        }
        .waves-section{
            position: absolute;
            top: 12px;
            left: 0px;
        }

    }
    

}