.sign-up-card {
  max-width: 400px;
  /* background-color: #2a2a2a;    */
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .button-three button {
    background: rgb(217, 217, 217);
    color: black;
    border-radius: 30px;
  }

  .button-three button:hover {
    background: rgb(232, 232, 232);
  }



  .logo {
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
  }

  .btn-google {
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-google img {
    margin-right: 10px;
  }

  .btn-apple {
    background-color: black;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-apple img {
    margin-right: 10px;
  }

  .btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f88501 !important;
    color: white !important;

    &:hover {
      background-color: var(--background-light) !important;
      color: black !important;

    }
  }

  .btn-custom img {
    margin-right: 10px;
  }

  .form-control:focus,
  .form-check-input:focus {

    border: 3px solid var(--background-color);

  }


  .btn-danger {
    background-color: var(--heading);
    border: none;
  }

  .btn-danger:hover {
    background-color: var(--background-color);
  }

  a {
    color: #ff416c;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 576px) {
    .sign-up-card {
      width: 100%;
      padding: 1.5rem;
    }

    .btn-lg {
      font-size: 1rem;
    }
  }
}