@import './pricing.css';


:root {
    --background-color: #ff4d03;
    --color: white;
    --heading: #05bee2;
    --background-light: #ffcf14;
    --black: black;
}

header {
    background-color: var(--background-color);

    .navbar {
        background: var(--background-color);
        color: var(--color);

        a {
            color: var(--black);
            font-weight: 600;
        }

        .nav-link:focus,
        .nav-link:hover {
            color: var(--heading);
        }

        .dropdown-menu {

            background-color: var(--black);

            .dropdown-item {
                transition: 1s all ease;
                color: var(--color);
                font-size: 14px;
            }

            .dropdown-item:hover {
                background-color: var(--background-color);
                border-radius: 10px;
                color: var(--heading);
            }
        }

    }

    .nav-link:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        margin-top: 0;
    }

    .rounded-full {
        border-radius: 50px;
    }

    .navbar-brand {
        img {
            width: 120px;
        }
    }
}

main {
    background-color: black;
}